@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
  input:not([type="checkbox"]) {
    @apply outline-none focus:ring border-gray-300
    focus:ring-red-500 focus:border-red-500 rounded-lg;
  }
  text-area {
    /* @apply outline-none focus:ring border-gray-300
    focus:ring-red-500 focus:border-red-500 rounded-lg; */
  }
}
